header{
    border: 1px solid salmon;
    width: 50%;

}
section{
    font-size :70px;
}
div{
    border:1px solid blue;
    width :50%;
}
/* rem es la unidad de medida relativa que depende directamente del elemento raiz de la pagina , en este caso seria el tamao de la fuente de ka etiqueta <html> */
section p{
    font-size:2rem;
}
/* em es la unidad de medida relativa q depende delutlimo font size definidio dentro del arboln de elementos en el que se encuentre  */
.parrafo{
    font-size:2em;
}